# Eclipse IDE
.settings
.classpath
.project

# IntelliJ IDEA IDE
.idea/
*.ipr
*.iml

# Visual Studio Code IDE
.vscode/

# Native built files
native/*/*.slo
native/*/*.so
native/*/*.lo
native/*/*.o
native/*/.libs/
native/*/Makefile
native/*/autom4te.cache/
native/*/config.status
native/*/configure

# Native testsuite
bin/
target/
test/httpd/mod_proxy_cluster

# Folder usually used for CMake
**/build

# war files (usually in tests)
**/*.war

# Log files
**/*.log

# test nohup files
**/nohup.out
