# Eclipse IDE
.settings
.classpath
.project

# IntelliJ IDEA IDE
.idea/
*.ipr
*.iml

# Visual Studio Code IDE
.vscode/

# Native built files
native/*/*.log
native/*/*.slo
native/*/*.so
native/*/*.lo
native/*/*.o
native/*/.libs/
native/*/Makefile
native/*/autom4te.cache/
native/*/config.status
native/*/configure

# Native testsuite
test/java/node*/
bin/
target/

# Folder usually used for CMake
**/build
