# Eclipse IDE
.settings
.classpath
.project

# IntelliJ IDEA IDE
.idea/
*.ipr
*.iml

# vim
*.swp

# Visual Studio Code IDE
.vscode/

# Native built files
native/*/.libs/
native/*/Makefile
native/*/autom4te.cache/
native/*/config.status
native/*/configure
native/*/configure~

# Native testsuite
bin/
target/
test/httpd/mod_proxy_cluster

# Folder usually used for CMake
**/build

# war files (usually in tests)
**/*.war

# Log files
**/*.log

# build files
*.slo
*.so
*.lo
*.o

# test files
**/nohup.out
test/MODCLUSTER-640/mod_proxy_cluster_new.conf
test/dependency-reduced-pom.xml
test/mod_proxy_cluster_new.conf
test/new.xml
test/server.xml
test/includes/dependency-reduced-pom.xml

# perl test files
test-perl/MYMETA*
test-perl/Makefile
test-perl/blib/**
test-perl/pm_to_blib
test-perl/t/conf/*.conf
test-perl/t/conf/apache_test_config.pm
test-perl/t/logs/**

# patch files
**/*.patch

# Doxygen
doxygen-out/
